<div class="background-white height-100">
  <div class="circle top-left-position1"></div>
  <div class="circle top-left-position2"></div>
  <ion-grid class="height-100">
    <ion-row class="ion-align-items-center height-100 margin-left-right-40">
      <ion-col>
        <ion-icon
          name="arrow-back"
          class="margin-bottom-20 font-24"
          (click)="back()"
        ></ion-icon>
        <div class="font-size-30 margin-bottom-10"><b>Getting Started</b></div>
        <div class="margin-bottom-20">Create an account to continue!</div>
        <ion-item>
          <ion-label>Country</ion-label>
          <ion-select [(ngModel)]="country" okText="Okay" cancelText="Dismiss">
            <ion-select-option
              *ngFor="let country of countries"
              [value]="country.name"
              >{{ country.name }}</ion-select-option
            >
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input [(ngModel)]="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Username</ion-label>
          <ion-input [(ngModel)]="username"></ion-input>
        </ion-item>
        <ion-item class="margin-bottom-10">
          <ion-label position="floating">Password</ion-label>
          <ion-input
            [(ngModel)]="password"
            [type]="passwordType"
            clearOnEdit="false"
          ></ion-input>
          <ion-icon
            [name]="passwordIcon"
            class="passwordIcon"
            (click)="hideShowPassword()"
          ></ion-icon>
        </ion-item>
        <ion-row class="margin-bottom-30">
          <ion-col size="auto">
            <ion-checkbox [(ngModel)]="tAndM"></ion-checkbox>
          </ion-col>
          <ion-col size="auto"><div>I agree to the</div></ion-col>
          <ion-col size="auto"
            ><div class="color-blue" (click)="goToTermsAndConditions()">
              Terms and Conditions
            </div></ion-col
          >
        </ion-row>
        <ion-button (click)="submit()" color="purple" expand="full"
          >Sign up</ion-button
        >
      </ion-col>
    </ion-row>
  </ion-grid>
  <div class="circle bottom-right-position1"></div>
  <div class="circle bottom-right-position2"></div>
</div>
